* {
  margin: 0;
  padding: 0;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
}
/*Navbar section starts here*/
.navbar-style {
  background-color: #73aba2;
  font-size: 1.15em;
  font-weight: 500;
  color: black;
}
.navbar-style a > img {
  width: 100%;
  height: 90px;
}
.navbar-style i {
  cursor: pointer;
}
.tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  top: 20px;
  left: -15px;
}
/* Modal styling ends here */
/* Footer section styling starts here */
.footer-tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  left: 30px;
  top: -15px;
}
.footer-section {
  background-color: #73aba2;
  padding: 40px;
  font-size: 1.12em;
}
.social-icons {
  list-style-type: none;
  padding: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 8%;
}
.footer-menu a {
  list-style: disc;
  text-decoration: none;
  color: black;
}
.address-text {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 60%;
  background-color: #f1e4f3;
  margin: auto;
}
.subscribe-btn {
  background-color: #182825;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-decoration: none;
  height: 45px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-left: 5%;
}
/* Footer section styling ends here */
.d-flex {
  display: flex;
}
.d-col {
  flex-direction: column;
}
.d-none {
  display: none;
}
.page-title {
  margin: 125px 0 38px 0;
  font-size: 20px;
  font-weight: 700;
}

.main-sec {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.heading {
  width: 100%;
  padding: 0px 16px;
}
.heading > ul {
  padding: 0;
  margin: 0;
}
.first-heading {
  height: 37px;
  width: 100%;
  background-color: #f9f9f9;
  font-size: 12px;
  border-bottom: 1px solid #e5e5e5;
  color: black;
  font-weight: 700;
}
.heading > ul > li {
  list-style-type: none;
}
.product_image {
  width: 11%;
}
.product_name {
  width: 45%;
  /* font-size: 18px; */
}
.product_price {
  width: 15%;
}
.product_stock {
  width: 11%;
}
.product_add {
  width: 10%;
  margin-left: 50px;
}
.product_remove {
  width: 4%;
  text-align: center;
  margin-left: 11px;
}
.images {
  width: 69%;
  height: 120px;
  object-fit: contain;
}
.button {
  background-color: #edd1c0;
  border-radius: 4px;
  padding: 0;
  /* width: 20%; */
  color: black;
  /* width: 20%; */
  border: 0;
  width: 100%;
  height: 36px;
  cursor: pointer;
}
.button-1 {
  background-color: #edd1c0;
  border-radius: 4px;
  border: 0;
  padding: 0px;
  text-decoration: none;
  /* width: 146px; */
  height: 36px;
  width: 80%;
  color: black;
  /* font-weight: 500; */
  text-align: center;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  left: 2%;
  line-height: 1.67;
}
