body {
  margin: 0;
  padding: 0;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
}

* {
  box-sizing: border-box;
}
/*Navbar section starts here*/
.navbar-style {
  background-color: #edd1c0;
  font-size: 1.15em;
  font-weight: 500;
  color: black;
  position: sticky;
}
.navbar-style a > img {
  width: 100%;
  height: 80px;
}
.navbar-style i {
  cursor: pointer;
}
.tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  top: 20px;
  left: -15px;
}
/* Modal styling ends here */
/* Footer section styling starts here */
.footer-tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  left: 30px;
  top: -15px;
}
.brand-logo {
  width: 20%;
}
.footer-section {
  background-color: #edd1c0;
  padding: 40px;
  font-size: 1.12em;
}

.social-icons {
  list-style-type: none;
  padding: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 8%;
}
.footer-menu a {
  list-style: disc;
  text-decoration: none;
  color: black;
}
.address-text {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 60%;
  background-color: #edd1c0;
  margin: auto;
}
.subscribe-btn {
  background-color: #182825;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-decoration: none;
  height: 45px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-left: 5%;
}
/* Footer section styling ends here */
/* Banner Page Starts */
.banner {
  background-image: url(Images/Banner.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner > p {
  z-index: 5;
  color: #fafaff;
}

/* Banner Page Ends */

/* What Sets us Apart Starts  */
.box {
  background-color: white;
  width: 100%;
  margin: 0px;
}

.header {
  width: 100%;
}
.img0 {
  margin-right: 40%;
  margin-bottom: 10%;
  border-radius: 5px;
  width: 30%;
}

.diversity {
  background-color: #edd1c0;
  border-radius: 10px;
}
/* What Sets us Apart Ends  */

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.btn {
  background-color: #edd1c0;
  /* background-color: #f9dce8; */
  /* font-family: 'Open Sans', sans-serif; */
  border-radius: 4px;
  border: 0;
  padding: 0px;
  text-decoration: none;
  height: 36px;
  width: 15%;
  text-align: center;
  position: relative;
  font-size: 25px;
  left: 2%;
  margin-top: 10px;
  color: #2e0014;
}

/* media queries for footer logo starts */
@media screen and (max-width: 575px) {
  .parent-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo-img {
    width: 55%;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo-img {
    width: 40%;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 992px) {
  .parent-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo-img {
    width: 55%;
    margin-left: 32px;
  }
}
/* media queries for footer logo ends */

/* Modal styling starts here */
.modal-dialog input {
  outline: none;
  border: 1px solid grey;
}
.modal-dialog span {
  font-size: 1.1em;
}
.button {
  padding: 6px;
  border: none;
  background-color: white;
}
.submit-btn {
  background-color: #edd1c0;
  border-radius: 30px;
  padding: 8px;
  width: 25%;
  font-size: 1.05em;
}

.brand-logo {
  width: 20%;
}
.d-none {
  display: none;
}
/* Modal styling ends here */
