body {
  margin: 0;
  padding: 0;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  background-color: white;
}
* {
  box-sizing: border-box;
}

img {
  border-radius: 5%;
}
/*Navbar section starts here*/
.navbar-style {
  background-color: #edd1c0;
  font-size: 1.15em;
  font-weight: 500;
  color: black;
  position: sticky;
}
.navbar-style a > img {
  width: 100%;
  height: 80px;
}
.navbar-style i {
  cursor: pointer;
}
.tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  top: 20px;
  left: -15px;
}
/* Modal styling ends here */
/* Footer section styling starts here */
.footer-tagline {
  font-size: 14px;
  font-style: italic;
  position: relative;
  left: 30px;
  top: -15px;
}
/* Footer section styling starts here */
.footer-section {
  background-color: #edd1c0;
  padding: 40px;
  font-size: 1.12em;
}
.social-icons {
  list-style-type: none;
  padding: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  gap: 8%;
}
.footer-menu a {
  list-style: disc;
  text-decoration: none;
  color: black;
}
.address-text {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 60%;
  background-color: #edd1c0;
  margin: auto;
}
.subscribe-btn {
  background-color: #182825;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-decoration: none;
  height: 45px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  border: none;
  margin-left: 5%;
}
/* Footer section styling ends here */
/* Hero starts */
.hero {
  height: 100vh;
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  background-color: #927661;
}
.pic01 {
  border-radius: 15px;
  /* box-shadow: 2px 5px 2px #a2b9d1; */
}
/* Hero ends */
/* Story Intro Starts */
#text {
  font-size: 18px;
  font-weight: 100;
}
#text::first-letter {
  font-size: xx-large;
  font-weight: bold;
}

.content {
  margin: 20px;
}

.story {
  font-size: 18px;
}

.story::first-letter {
  font-size: xx-large;
  font-weight: bold;
}

.btn {
  background-color: #edd1c0;
  color: black;
  /* font-family: 'Open Sans', sans-serif; */
  border-radius: 4px;
  border: 0;
  padding: 0px;
  text-decoration: none;
  height: 36px;
  width: 20%;
  text-align: center;
  position: relative;
  font-size: 20px;
  left: 2%;
  margin-top: 10px;
}
/* Story Intro Ends */

/* media queries for footer logo starts */
@media screen and (max-width: 575px) {
  .parent-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-logo-img {
    width: 55%;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo-img {
    width: 40%;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 992px) {
  .parent-footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo-img {
    width: 55%;
    margin-left: 32px;
  }
}
/* media queries for footer logo ends */

/* Modal styling starts here */
.modal-dialog input {
  outline: none;
  border: 1px solid grey;
}
.modal-dialog span {
  font-size: 1.1em;
}
.button {
  padding: 6px;
  border: none;
  background-color: white;
}
.submit-btn {
  background-color: #edd1c0;
  border-radius: 30px;
  padding: 8px;
  width: 25%;
  font-size: 1.05em;
}

.brand-logo {
  width: 20%;
}
.d-none {
  display: none;
}
/* Modal styling ends here */
